<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:margin="http://www.w3.org/1999/xhtml">
<head>
    <title>Insert your product</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
</head>
<body>
<header style=" background-color:red; height: 100px; width: 100%; margin-bottom: 20px;">
    <a href = "/products"><img th:src="@{teste.png}" style="margin-left: 30px; margin-top: -10px"> </a>
    <input type="text" style="width:500px; margin-left: 400px; margin-top: 40px">
    <a href="/products" style="margin-left: 100px; margin-right: 30px" class="btn btn-primary" role="button">Continuar sem login</a>
</header>
    <section>
        <div class="container" style="width:60%; padding-bottom:30px;" >
            <div>
                <form th:object="${customer}" method="post" th:action="@{/fazerLogin}">
                      <div class="form-group">
                        <input th:field="${customer.CPF}" type="text" class="form-control" name="CPF" placeholder="Value *">
                      </div>
                      <div class="form-group">
                        <input th:field="${customer.Password}" type="password" class="form-control" name="Password" placeholder="Password *">
                      </div>
                      <small class="form-text text-muted">(*) campos obrigatórios</small>

                      <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Login</button>
                      <a href="/products" class="btn btn-light" role="button" style="margin-top: 10px;">Cancelar</a>
                  </form>
              </div>
          </div>
      </section>
  </body>
  </html>